_cmd
cli/counter
dist/
cli/nex

cli/_configs/
_examples/operator_mode/nsc/nsc.json

go.work*
cli/go.work*
client/go.work*
agents/go.work*

# any creds used for testing
**/*.creds

# test binaries
_test/workloads/counter/counter
_test/nexlet_inmem/cmd/nexlet_inmem
_test/webapp/derp
_test/webapp/
demo_only/
