_cmd
cli/counter
dist/
cli/nex

cli/_configs/

go.work*
cli/go.work*
client/go.work*
agents/go.work*

# test binaries
_test/workloads/counter/counter
_test/nexlet_inmem/cmd/nexlet_inmem
_test/webapp/derp
_test/webapp/
