port: 10001
server_name: "s1"

cluster {
  port: 10101
  name: "cluster"

  routes = [
    nats-route://0.0.0.0:10101
    nats-route://0.0.0.0:10102
    nats-route://0.0.0.0:10103
  ]
}

jetstream {
  store_dir: /tmp/cluster/s1
}

pid_file: /tmp/cluster/s1.pid
log_file: /tmp/cluster/s1.log

include ./resolver.config
