port: 10003
server_name: "s3"

cluster {
  port: 10103
  name: "cluster"

  routes = [
    nats-route://0.0.0.0:10101
    nats-route://0.0.0.0:10102
    nats-route://0.0.0.0:10103
  ]
}

jetstream {
  store_dir: /tmp/cluster/s3
}

pid_file: /tmp/cluster/s3.pid
log_file: /tmp/cluster/s3.log

include ./resolver.config
