port: 10002
server_name: "s2"

cluster {
  port: 10102
  name: "cluster"

  routes = [
    nats-route://0.0.0.0:10101
    nats-route://0.0.0.0:10102
    nats-route://0.0.0.0:10103
  ]
}

jetstream {
  store_dir: /tmp/cluster/s2
}

pid_file: /tmp/cluster/s2.pid
log_file: /tmp/cluster/s2.log

include ./resolver.config
