name: Nightly Chaos 

on:
  schedule:
    - cron: "30 8 * * 1-5" # 8:30 AM UTC, Monday to Friday
  workflow_dispatch:
    inputs:
      runtimeout:
        description: 'How long to run the chaos test'
        required: true
        default: '2h'
      nexussize:
        description: 'Number of nex nodes to run'
        required: true
        default: '5'
      withload:
        type: boolean
        description: 'Run with load'
        required: true
        default: 'true'
    

env:
  GO_VER: '1.24.*'
  GOPRIVATE: github.com/synadia-io/nexlet.go
  GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}

jobs:
  run-nexus:
    timeout-minutes: 130 # 2h 10m
    runs-on: [ self-hosted, failground ]
    steps:
    - 
      name: Set variables
      id: set-vars
      run: |
          if [[ "${{ github.event_name }}" == "schedule" ]]; then
            echo "NEXTIMEOUT=2h" >> $GITHUB_ENV
            echo "NEXUSSIZE=5" >> $GITHUB_ENV
            echo "NEXWITHLOAD=true" >> $GITHUB_ENV
          else
            echo "NEXTIMEOUT=${{ github.event.inputs.runtimeout }}" >> $GITHUB_ENV
            echo "NEXUSSIZE=${{ github.event.inputs.nexussize }}" >> $GITHUB_ENV
            echo "NEXWITHLOAD=${{ github.event.inputs.withload }}" >> $GITHUB_ENV
          fi
    - 
      name: Run a nexus
      uses: synadia-io/nex-runner@main
      with:
        nexus-size: ${{ env.NEXUSSIZE }}
        nats-server: nats://127.0.0.1:18001
        run-timeout: ${{ env.NEXTIMEOUT }}
        with-load: ${{ env.NEXWITHLOAD }}
      env:
        GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
