name: Lint | Test | Build
permissions:
  contents: read

on:
  pull_request:
    branches: [ "main" ]

env:
  GO_VER: '1.24.*'
  GOPRIVATE: github.com/synadia-labs/nex
  GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}


jobs:
  lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - 
      name: Checkout code
      uses: actions/checkout@v4
    - 
      name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ env.GO_VER }}
        cache: false
    - 
      name: Private Module Setup
      run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/ 
    - 
      name: golangci-lint
      uses: golangci/golangci-lint-action@v8.0.0
      with:
        version: v2.1.6

  test:
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        #os: [ubuntu-latest, windows-latest, macos-latest]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
    - 
      name: Checkout code
      uses: actions/checkout@v4
    - 
      name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ env.GO_VER }}
    - 
      name: Private Module Setup
      run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/ 
    - 
      name: Run test suite
      run: |
        go test -v ./...
